/*************************
* Main structure
*************************/
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.gridContainer{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: minmax(300px, 20%) minmax(700px, 80%) ;
}

#controlPanel{
    border-right: .5px solid #000;
}


#canvasContainer{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

/*******************
* Dialog Stuff
********************/
#waveDialog{
    min-width: 300px;
    display: grid;
    grid-template-rows: minmax(300px, 100%) minmax(10px, 20px);
}

#waveDialog > *{
    padding:30px;
}

#modalControls{
    align-items: center;
    text-align: center;
}

/*******************
* Canvas Stuff
********************/

.canvas{
    display:block;
    width: 100%;
    height: 100%;
}

.bigCanvas{
    position: absolute; /*esto para que estackeen los canvas*/
    top:0;
}

/*******************
* Styling
********************/
.card{
    border: none;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button{
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius:60px;
    min-width: 100px;
    max-width: 500px;
    min-height: 40px;
    max-width: 80px; 
}

/*************************
* Responsive
***************************/


/*************************
* Mierdas y pruebas
***************************/

.test{
    background-color: red;
}



