


.grid-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(20%, 20%) minmax(80%, 80%);
    /*grid-template-columns: 20% 80%;*/
}

/*
.canvas-grid{
    background-image: linear-gradient(#111 .1rem, transparent .1rem), linear-gradient(90deg, #111 .1rem, transparent .1rem);
    background-size: 1rem 1rem;
}
*/

/*
#canvas{
    align-self: center;
    width: 100%;
    height: 100%;

}
*/
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}


.control-panel{
    min-width: 300px;
}

.control-panel > *{
    display: inline-block !important;
}



.card{
    border: none;
    border-radius: 60px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#waveDialog{
    width: 1400px;
    height: 750px;
}

.defaultBtn{
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius:60px;
    min-width: 100px;
    max-width: 500px;
    min-height: 40px;
    max-width: 80px;
}

#canvasWrapper{
    align-self: center;
    position:relative;
    width: 100%;
    height: 100%;
}

#canvasWrapper > canvas{
    position:absolute;
    top:0;
    left:0;
}

.canvas{
    object-fit: con;
    align-self: center;
    width: 100%;
    height: 100%;
}

#previewCanvas{
    width: 70%;
    height: 700%;
}


/*******************************************************
Card at the left side of the screen to manage each wave.
********************************************************/



.flexContainer{
    width: 100%;
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


/********************
* WAVE CARD
*********************/

.playBtn{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: black;
}

.waveCard{
    height: 120px;
    width: 100%;
    border-radius: 25px;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items:center;
    justify-items: center;
    margin: 10px 0;
    padding: 10px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}


/*
.cardMidColumn{
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

}
*/

.cardMidColumn{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 75% 20%;
    text-align: center;
}

/***********************************
TAG STYLING
***********************************/

.customCheck{
    border-radius: 200px;
    size: 100px;
    background-color: red;
}